.home{
    /* background-color: #16445b30; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.home-container{
    height: 450px;
    width: 1200px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}
.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.all-pages-container{
    height: 100%;
    display: flex;
    
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.arrow{
    cursor: pointer;
    color: #353069;
    font-size: 25px;
}
.arrow:hover{
    transform: scale(2);
    transition: all 0.1s;
}